page-wiads-loading {
    .scroll-content {
        background-color: map-get($WiadsColors, primary) !important;
        background-image: url('../assets/wiads/bg_splash.png');
        background-size: 100% 100%;
        background-position: 0 0;
        display: flex;
    }
    .logo {
        margin: auto;
        text-align: center;
        color: #FFF;
    }
    img {
        width: 35%
    }
    .loading-dot {
        -webkit-animation-name: blink-1;
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
        animation-name: blink-1;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    .loading-dot-2 {
        -webkit-animation-name: blink-2;
        animation-name: blink-2;
    }
    .loading-dot-3 {
        -webkit-animation-name: blink-3;
        animation-name: blink-3;
    }
    @-webkit-keyframes blink-1 {
        0% {
            opacity: 1;
        }
        25% {
            opacity: 1;
        }
        50% {
            opacity: 1;
        }
        75% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @-webkit-keyframes blink-2 {
        0% {
            opacity: 0;
        }
        25% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        75% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @-webkit-keyframes blink-3 {
        0% {
            opacity: 0;
        }
        25% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        75% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes blink-1 {
        0% {
            opacity: 1;
        }
        25% {
            opacity: 1;
        }
        50% {
            opacity: 1;
        }
        75% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes blink-2 {
        0% {
            opacity: 0;
        }
        25% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        75% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes blink-3 {
        0% {
            opacity: 0;
        }
        25% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        75% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}